# Firebase Configuration for RAP Candidate Portal
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=recruitment-cebef.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=recruitment-cebef
VITE_FIREBASE_STORAGE_BUCKET=recruitment-cebef.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=398833030288
VITE_FIREBASE_APP_ID=your_app_id_here
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id

# Cloudinary Storage Configuration
VITE_CLOUDINARY_CLOUD_NAME=je6whpaq
VITE_CLOUDINARY_API_KEY=819734381438919
VITE_CLOUDINARY_API_SECRET=your_api_secret_here
CLOUDINARY_URL=cloudinary://819734381438919:your_api_secret_here@je6whpaq
